@include component(team-form) {

    $clear-text-color: $orange-sanguine;

    $default-border-color: $grey-jungle-mist;
    $disabled-color: $grey-jungle-mist;

    $hover-border-color: $red-cabaret;
    $remove-text-color: $green-shamrock;

    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    position: relative;

    @include child(input) {
        display: block;
        width: 100%;
        font: inherit;
        outline: none;
        border: none;
        line-height: 1.5;
        padding: .25em 2.5em .25em 0;
        background-color: transparent;
        box-shadow: shadow-border(bottom, $default-border-color, 2px);

        &:focus {
            box-shadow: shadow-border(bottom, $hover-border-color, 2px);
        }
    }

    @include child(submit) {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        outline: none;
        background-color: transparent;
        color: $remove-text-color;
        line-height: 1em;
        cursor: pointer;

        &:disabled {
            color: $disabled-color;
        }
    }

    @include child(row) {
        margin: 1em 0 2em;
        text-align: right;
    }

    @include child(clear) {
        font-weight: bold;
        letter-spacing: .1em;
        display: inline-block;
        text-transform: uppercase;
        color: $clear-text-color;
        font-size: 1.4rem;
        cursor: pointer;
    }
}
