@include component(node) {

    $title-background-color: $grey-clay;
    $clickable-background-color: $grey-slate;
    $title-text-color: $white-snow;
    $default-border-color: $grey-slate;

    $winner-background-color: $yellow-gold;
    $won-background-color: $green-shamrock;
    $lost-background-color: $red-cabaret;

    @mixin node-title-variant($name, $color) {

        @include modifier($name) {

            background-color: $color;

            @include modifier(highlighted) {
                background-color: darken($color, 20%);
            }
        }
    }

    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include modifier(debug) {
        padding: .5em;
        background-color: lightblue;
        border: 1px solid blue;
    }

    @include child(children) {
        display: flex;
        flex-direction: column;
        position: relative;

        &:after, &:before {
            content: "";
            position: absolute;
            background-color: $default-border-color;
        }

        &:after {
            right: -0.5em;
            top: 50%;
            height: 1px;
            width: 0.5em;
        }

        &:before {
            right: 0;
            top: 25%;
            height: 50%;
            width: 1px;
        }

        @include modifier(debug) {
            padding: .5em;
            background-color: lightcoral;
            border: 1px solid red;
        }
    }

    @include child(title) {
        position: relative;
        background-color: $title-background-color;
        border: none;
        font-size: 1em;
        padding: 1em;
        margin: 0.5em;
        min-width: 200px;
        border-radius: 3px;
        color: $title-text-color;
        outline: none;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            background-color: $default-border-color;
            left: 100%;
            top: 50%;
            height: 1px;
            width: 0.5em;
        }

        @include modifier(last) {

            &:before {
                content: none;
            }
        }

        @include node-title-variant('winner' , $winner-background-color);
        @include node-title-variant('won' , $won-background-color);
        @include node-title-variant('lost' , $lost-background-color);
        @include node-title-variant('clickable' , $clickable-background-color);

    }
}
