@include component(flash-message) {

  $text-color: $snow-white;
  $info-background-color: $perano-blue;
  $danger-background-color: $blush-pink;
  $warning-background-color: $gold-yellow;

  display: block;
  padding: 1em;

  @include modifier(info) {

    background-color: $info-background-color;
    color: $text-color;
  }

  @include modifier(warning) {

    background-color: $warning-background-color;
    color: $text-color;
  }

  @include modifier(danger) {

    background-color: $danger-background-color;
    color: $text-color;
  }
}
