$disabled-background-color: $alto-grey;
$disabled-border-color: darken($disabled-background-color, 15%);
$submit-text-color: $snow-white;
$submit-background-color: $granny-green;
$submit-border-color: darken($submit-background-color, 15%);

@include component(team-form) {

  margin: 1em 0;
  display: flex;

  @include child(input) {

    width: 100%;
    padding: 0.5em;
    border: 0;
    box-shadow:
      shadow-border('top', $disabled-background-color),
      shadow-border('bottom', $disabled-background-color),
      shadow-border('left', $disabled-background-color);
    outline: none;
  }

  @include child(submit) {

    border: 0;
    color: $submit-text-color;
    background-color: $submit-background-color;
    box-shadow:
      shadow-border('top', $submit-border-color),
      shadow-border('right', $submit-border-color),
      shadow-border('bottom', $submit-border-color);
    outline: none;

    &:disabled {

      background-color: $disabled-background-color;
      box-shadow:
        shadow-border('top', $disabled-background-color),
        shadow-border('right', $disabled-background-color),
        shadow-border('bottom', $disabled-background-color);
    }

    &:not(:disabled) {
      cursor: pointer;
    }
  }
}
