@include component(team) {

  $border-color: $alto-grey;

  $remove-background-color: $blush-pink;
  $remove-text-color: $snow-white;

  padding: 0.5em 0;
  box-shadow: shadow-border("bottom", $border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include child(editor) {

    border: none;
    font-size: inherit;
    outline: none;
    line-height: 1.5;
    display: block;
    flex-grow: 1;
    margin-right: 1em;
  }

  @include child(remove) {

    border: 0;
    background-color: $remove-background-color;
    color: $remove-text-color;
    padding: 0.5em;
    line-height: 1em;
    min-width: 2em;
    min-height: 2em;
    border-radius: 3px;
    cursor: pointer;
  }
}
