$error-text-color: $blush-pink;
$success-text-color: $granny-green;

@include component(message) {

  display: flex;
  align-items: center;

  @include child(status) {

    margin-right: 0.5em;

    @include modifier(error) {

      color: $error-text-color;
    }

    @include modifier(success) {

      color: $success-text-color;
    }
  }
}
