@include component(button) {

  $default-background-color: $orange-sanguine;
  $default-text-color: $white-snow;

  padding: 0.5em 1.5em;
  text-decoration: none;
  background-color: $default-background-color;
  color: $default-text-color;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
}
