@include component(flash-message) {

  $base-text-color: $white-snow;
  $info-background-color: $orange-sanguine;
  $danger-background-color: $red-cabaret;
  $warning-background-color: $yellow-gold;

  display: block;
  padding: 1em;

  @include modifier(info) {

    background-color: $info-background-color;
    color: $base-text-color;
  }

  @include modifier(warning) {

    background-color: $warning-background-color;
    color: $base-text-color;
  }

  @include modifier(danger) {

    background-color: $danger-background-color;
    color: $base-text-color;
  }
}
