<div class="container --global">

    <h2 class="title">
        Ajoutez vos équipes pour générer l’arbre des compétitions
    </h2>

    <team [team]="team" *ngFor="#team of teams"></team>

    <br>

    <team-form></team-form>

    <div class="button-bar">
        <span class="message">
            <i *ngIf="isFilled()" class="message_status material-icons --success">check</i>
            <i *ngIf="!isFilled()" class="message_status material-icons --error">close</i>
            Vous avez {{ teams.length }} équipe{{ teams.length > 1 ? 's' : '' }}
        </span>
        <button class="button" [routerLink]="['TreeComponent']" [disabled]="!isFilled()">Alles à l'arbre</button>
    </div>
    <div class="button-bar">
        <span class="message --icon-offset --sub">
            Vous devez avoir 2, 4, 8, 16 ou 32 équipes
        </span>
    </div>

</div>
