<div class="container">
  <div *ngFor="#team of teams" class="team">
    <span class="team_name">{{ team.name }}</span>
    <button class="team_remove" (click)="remove(team)">X</button>
  </div>

  <team-form></team-form>

  <div class="button-bar">
    <span class="message">
        <i class="message_status material-icons"
           [class.--success]="isFilled()"
           [class.--error]="!isFilled()">{{ isFilled() ? 'check' : 'close' }}</i>
      Currently {{ teams.length }} teams
    </span>
    <a class="button" [routerLink]="['TreeComponent']">Generate</a>
  </div>
</div>


<ul>
  <li>Edit Team name</li>
  <li>Winner in gold</li>
  <li>Remove all team button</li>
</ul>
